<md-card *ngIf="pokemon" style="width:13em">
  <div><button md-icon-button (click)="goBack()">←</button></div>
  <md-card-header>
    <div md-card-avatar>
      <img [src]="getPokemonImageUrl(pokemon.id)" style="height:50px; width:50px;">
    </div>
    <md-card-title>
      {{pokemon.name}}
    </md-card-title>
    <md-card-subtitle>
      {{pokemon.type}}
    </md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <div>
      <label> Pokedex Number: {{pokemon.id}} </label>
    </div>
    <div>
      <label> Base XP: {{pokemon.baseXP}} </label>
    </div>
    <div>
      <label> Height: {{pokemon.height}} </label>
    </div>
    <div>
      <label> Weight: {{pokemon.weight}} </label>
    </div>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="delete()">Delete</button>
  </md-card-actions>
</md-card>