<md-card *ngIf="pokemon" style="width:13em">
  <div><button md-icon-button (click)="goBack()">←</button></div>
  <md-card-header>
    <div md-card-avatar>
      <img [src]="getPokemonImageUrl(pokemon.id)" style="height:50px; width:50px;">
    </div>
    <md-card-title>
      {{pokemon.name}}
    </md-card-title>
    <md-card-subtitle>
      {{pokemon.type}}
    </md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <div>
      <md-input-container>
        <input mdInput [(ngModel)]="pokemon.id" placeholder="Pokedex Number" />
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <input mdInput [(ngModel)]="pokemon.name" placeholder="Name" />
      </md-input-container>
    </div>
    <div>
      <md-select [(ngModel)]="pokemon.type" placeholder="Type">
        <md-option *ngFor="let type of types" [value]="type">
          {{type}}
        </md-option>
      </md-select>
    </div>
    <div>
      <md-input-container>
        <input mdInput [(ngModel)]="pokemon.baseXP" placeholder="Base XP" />
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <input mdInput [(ngModel)]="pokemon.height" placeholder="Height" />
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <input mdInput [(ngModel)]="pokemon.weight" placeholder="Weight" />
      </md-input-container>
    </div>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="save()">Save</button>
  </md-card-actions>
</md-card>